/* *{
  background-color: #dee0df;
} */

body::-webkit-scrollbar {
  display: none;
}

.abcd::-webkit-scrollbar {
  display: none;
}


.feeds::-webkit-scrollbar {
  display: none;
}

.lefttt{
  left: 0;
}

.gl {
  font-family: Gilroy-Light;
}

.gx {
  font-family: Gilroy-ExtraBold;
  /* font-weight: 800 !important; */
}

.cp {
  cursor: pointer !important;
}

.bw {
  background-color: #fff !important;
}

.bgdark {
  background-color: #000 !important;
}

a {
  text-decoration: none !important;
  /* color: black; */
}

.link {
  color: #000;
}

.link:hover {
  color: #000;
}

.textgrey {
  color: #6f6f6f;
}

.bggrey {
  background-color: #f7f7f7 !important;
}

.fc {
  height: fit-content !important;
}

/* Home */

.page {
  text-align: center !important;
  min-height: 100vh !important;
  max-height: fit-content !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.first {
  /* font-size: 1.5rem; */
  font-size: clamp(1rem, 2vw, 2.5rem);
  font-weight: 300;
}

.enterpara {
  /* font-size: 2.7rem; */
  font-size: clamp(1.6rem, 2.5vw, 6rem);
  line-height: 1;
  /* font-weight: 900 !important; */
  margin-bottom: 6rem;
  color: black !important;
}

.bt {
  background-color: transparent !important;
}

.underline {
  display: inline-block;
  position: relative;
}

.underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffcc00;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}

.underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Header  */

nav {
  background-color: transparent !important;
  position: fixed;
  z-index: 999;
  top: 0;
  background-color: transparent !important;
}

nav.active {
  background-color: #fff !important;
  /* border-bottom: #000 solid 1px !important; */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/* .navbar{
  background-color: transparent !important;
} */

.mainpage {
  min-height: 100vh;
}
/* 
ul{
  content: "";
} */

.navul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin-bottom: 0 !important;
  /* background-color: transparent !important; */
}

/* li{
  background-color: transparent !important;
} */

.navs {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* padding: 1rem; */
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
}

/* Carousel */

.carousel-dark .carousel-control-next-icon,
.carousel-dark .carousel-control-prev-icon {
  visibility: hidden;
}

.carousel-caption h5 {
  background-color: transparent !important;
}

.carousel-caption p {
  background-color: transparent !important;
}

.carousel-indicators {
  background-color: transparent !important;
}

.carousel-control-prev {
  width: 4% !important;
}

/* Carousel 1 */

@media (min-width: 885px) {
  .c1 {
    background-color: transparent !important;
    top: 30%;
    transform: translateX(-10%);
    text-align: left !important;
  }
}

@media (max-width: 885px) {
  .c1 {
    background-color: transparent !important;
    top: 20% !important;

    transform: translateX(-10%);
    text-align: left !important;
  }
}

.c1 h5 {
  color: #000 !important;
  font-family: Gilroy-ExtraBold;
  font-size: clamp(1.5rem, 4vw, 4rem);
  line-height: 1;
  right: 20% !important;
}

.c1 button {
  background-color: #000 !important;
  opacity: 0.5;
  color: #fff !important;
  border: none !important;
  padding: 1rem 2rem !important;
  /* font-size: 1.2rem !important; */
  margin-top: clamp(1rem, 3vw, 10rem) !important;
  font-size: clamp(0.4rem, 2vw, 1.8rem) !important;
  font-family: Gilroy-Light;
  border-radius: 30px !important;
  cursor: pointer !important;
  margin-top: 3rem;
}

.c1 button:hover {
  opacity: 0.6;
  background-color: #ffcc00 !important;
}

/* Carousel 2 */

@media (min-width: 885px) {
  .c2 {
    background-color: transparent !important;
    top: 25%;
    transform: translateX(-15%);
    text-align: left !important;
  }

  .navs2 {
    visibility: hidden !important;
  }
}

@media (max-width: 885px) {
  .c2 {
    background-color: transparent !important;
    top: 20% !important;

    transform: translateX(-10%);
    text-align: left !important;
  }

  .c2 h5 {
    color: #fff !important;
  }

  .c2 h6 {
    color: #fff !important;
  }

  nav {
    visibility: hidden;
  }

  .navs2 {
    visibility: visible !important;
  }
}

.c2 h5 {
  color: #000;
  font-family: Gilroy-ExtraBold;
  font-size: clamp(1.5rem, 4vw, 3.8rem);
  line-height: 1;
  right: 20% !important;
}

.c2 h6 {
  color: #000;
  font-family: Gilroy-Light;
  font-size: clamp(0.6rem, 3vw, 1.8rem);
  font-weight: 1000 !important;
  margin-top: clamp(1rem, 3vw, 10rem) !important;
  /* font-size: clamp(0.4rem, 2vw, 1.8rem) !important; */
  line-height: 1;
  right: 20% !important;
  background-color: transparent !important;
}

.c2 button {
  background: rgba(0, 0, 0, 0.2) !important;
  color: #fff !important;
  border: none !important;
  padding: 1rem 2rem !important;
  font-size: 1.2rem !important;
  font-family: Gilroy-Light;
  border-radius: 30px !important;
  cursor: pointer !important;
  margin-top: clamp(0.3rem, 3vw, 10rem) !important;
  font-size: clamp(0.4rem, 1vw, 1.8rem) !important;
}

.c2 button:hover {
  background-color: hsl(48, 100%, 50%, 0.6) !important;
}

/* Carousel 3 */

@media (min-width: 885px) {
  .c3 {
    background-color: transparent !important;
    top: 40%;
    transform: translateX(-5%);
    text-align: left !important;
  }
}

@media (max-width: 885px) {
  .c3 {
    background-color: transparent !important;
    top: 20% !important;

    transform: translateX(-10%);
    text-align: left !important;
  }

  nav {
    visibility: hidden;
  }
}

.c3 h5 {
  color: rgb(255, 255, 255) !important;
  font-family: Gilroy-ExtraBold;
  font-size: clamp(1.5rem, 4vw, 3.6rem);
  line-height: 0.8;
  right: 20% !important;
}

.c3 button {
  background-color: rgba(255, 255, 255, 0.6) !important;
  color: #000 !important;
  border: none !important;
  padding: 0.7rem 4rem !important;
  font-size: clamp(0.4rem, 2vw, 1rem) !important;
  font-family: Gilroy-Light;
  border-radius: 30px !important;
  cursor: pointer !important;
  margin-top: clamp(1rem, 3vw, 10rem) !important;
  /* font-size: clamp(0.4rem, 2vw, 1.8rem) !important; */
}

.c3 button:hover {
  background-color: hsl(48, 100%, 50%, 0.6) !important;
}

.c3 p {
  color: #fff !important;
  font-family: Gilroy-Light;
  font-size: clamp(0.6rem, 2.5vw, 1.8rem);
  font-weight: 1000 !important;
  margin-top: 2rem !important;
  line-height: 1;
  background-color: transparent !important;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

/* .under{
  display: inline-block;
  position: relative;
  font-size: 1.1rem !important;
} */

.under::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffcc00;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}

.under:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Carousel 4 */

@media (min-width: 885px) {
  .c4 {
    background-color: transparent !important;
    top: 40%;
    transform: translateX(-10%);
    text-align: left !important;
  }
}

@media (max-width: 885px) {
  .c4 {
    background-color: transparent !important;
    top: 30% !important;

    transform: translateX(-10%);
    text-align: left !important;
  }

  nav {
    visibility: hidden;
  }
}

.c4 h5 {
  color: rgb(255, 255, 255) !important;
  font-family: Gilroy-ExtraBold;
  font-size: clamp(1.5rem, 4vw, 3.6rem);
  line-height: 0.8;
  right: 20% !important;
}

.c4 button {
  background-color: rgba(255, 255, 255, 0.6) !important;
  color: #000 !important;
  border: none !important;
  padding: 0.7rem 4rem !important;
  font-size: clamp(0.4rem, 2vw, 1rem) !important;
  font-family: Gilroy-Light;
  border-radius: 30px !important;
  cursor: pointer !important;
  margin-top: clamp(1rem, 3vw, 10rem) !important;
  /* font-size: clamp(0.4rem, 2vw, 1.8rem) !important; */
}

.c4 button:hover {
  background-color: hsl(48, 100%, 50%, 0.6) !important;
}

.classescontainer {
  background-color: #f7f7f7 !important;
}

.classesimg {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.profileclassesimg22{
  height: 200px !important;
}

.classesimg22 {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  /* margin-bottom: 10rem; */
  /* border-radius: 15px 15px 0 0; */
}


.hoverlater {
  height: 180px !important;
  transition: all 0.5s  ease-in-out !important;
  cursor: pointer !important  ;
}

.hoverlater:hover  {
  height: 400px !important;
  transition: all 0.3s  !important;
  transform: scale(1.2) !important;
  transition-delay: 1.5s !important;
}

/* .hoverlater:hover > .shush{
  display: block !important;
  transition: all 0.3s !important;
  transition-delay: 2s  !important;
} */

.imgdiv {
  height: 250px !important;
}

.imgdiv2 {
  height: 250px !important;
}

.clsdesc {
  font-size: clamp(0.6rem, 2.5vw, 0.8rem);
  font-family: Gilroy-Light !important;
  color: rgb(61, 61, 61) !important;
  min-height: 30px !important;
}

.knowdiv {
  background-color: #fff !important;
  border-radius: 40px !important;
  border: rgb(57, 57, 57) solid 1px !important;
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 0.9rem;
  font-size: clamp(0.4rem, 2vw, 1rem) !important;
  color: rgb(57, 57, 57) !important;
}

.knowdiv input {
  background-color: transparent !important;
}

.borderless {
  border: none !important;
  /* min-width: 300px; */
  margin-left: 10px;
}

.borderless:focus {
  outline: none !important;
  border: 2px solid #2c71b6;
  /* box-shadow: 0 0 1px #2c71b6; */
}

.profilesearch {
  color: rgb(166, 174, 0) !important;
  font-weight: 800;
}

.icondiv {
  background-color: rgb(39, 39, 39) !important;
  border-radius: 50% !important;
  cursor: pointer;
}

.clsfee h6 {
  font-size: clamp(0.6rem, 2.2vw, 1.1rem) !important;
  font-family: Gilroy-ExtraBold !important;
  color: rgb(61, 61, 61) !important;
  line-height: 0.9;
}

.profileclassesimg {
  height: 250px !important;
  /* width: 114px !important; */
}

.classesicon {
  width: 100% !important;
  object-fit: cover;
  border-radius: 50%;
}

.bgw {
  background-color: #fff !important;
}

.profile {
  background-color: #fff !important;
  border-radius: 0 0 15px 15px;
  display: flex;
  min-height: 216px !important;
  /* justify-content: space-around; */
}

.classtitlee {
  font-size: clamp(0.9rem, 4vw, 1.2rem);
  font-family: Gilroy-ExtraBold !important;
  color: rgb(85, 85, 85) !important;
  line-height: 1;
}

.tutorname {
  font-size: clamp(0.6rem, 3vw, 1rem);
  font-family: Gilroy-ExtraBold !important;
  color: rgb(61, 61, 61) !important;
  line-height: 0.1;
}

.profilest {
  background-color: #fff !important;
  border-radius: 0 0 15px 15px;
  display: flex;
  justify-content: space-around;
  height: fit-content !important;
}

.profilest h6 {
  font-family: Gilroy-ExtraBold;
  font-size: clamp(0.1rem, 4vw, 0.6rem);
  /* line-height: 0.8; */
  color: #000 !important;
}

@keyframes ldio-cqj9sf9mcdj {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.ldio-cqj9sf9mcdj div {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 10px solid #ffffff;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-cqj9sf9mcdj div {
  animation: ldio-cqj9sf9mcdj 1s linear infinite;
  top: 50px;
  left: 50px;
}
.loadingio-spinner-rolling-jm01qv7mmak {
  width: 24px;
  height: 24px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-cqj9sf9mcdj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.24);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-cqj9sf9mcdj div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */

.classcol {
  width: 380px !important;
}

.scroll-container {
  overflow: auto;
  white-space: nowrap;
  padding: 5px 70px 5px 20px;
  background: transparent;
  height: 100%;
  border-radius: 15px;
}

.gridscroll {
  display: inline-block;
}

.profilest p {
  font-family: Gilroy-Light;
  font-size: clamp(0.5rem, 5vw, 0.9rem) !important;
  /* line-height: 0.8; */
  color: #000 !important;
}

.profile p {
  font-family: Gilroy-Light;
  font-weight: 900;
  font-size: clamp(0.3rem, 3vw, 0.8rem);
}

.seemore {
  background-color: transparent !important;
  border-radius: 15px;
  border: rgb(57, 57, 57) solid 1px;
  display: flex;
  justify-content: space-around;
  padding: 0.4rem 3rem;
  font-size: clamp(0.4rem, 2vw, 1rem) !important;
  color: rgb(57, 57, 57) !important;
}

.seemore:hover {
  background-color: rgb(36, 36, 36) !important;
  color: #ffcc00 !important;
}

/* Login Page  */

.loginpage {
  background-color: #fff !important;
  min-height: 100vh;
  max-height: fit-content;
}

.input {
  background-color: #fff !important;
  border-radius: 7px;
  display: flex;
  justify-content: space-around;
  padding: 0.6rem 0.8rem;
  font-size: clamp(0.4rem, 2vw, 1rem) !important;
  color: rgb(57, 57, 57) !important;
}

.logindiv {
  background-color: #fff !important;
  min-width: 300px !important;
  font-size: clamp(0.4rem, 2vw, 1rem) !important;
  color: rgb(57, 57, 57) !important;
}

.signupform {
  max-width: 600px !important;
}

/* input {
  text-align: center;
} */

/* ::-webkit-input-placeholder {
  text-align: center;
} */

/* :-moz-placeholder {
  text-align: center;
} */

/* Footer  */

.footerrow {
  background-color: #f7f7f7 !important;
}

.footercol {
  margin-top: 70px !important;
  margin-bottom: 100px !important;
}

.contactmail {
  font-family: Gilroy-Light;
  font-size: clamp(0.4rem, 2vw, 1.6rem) !important;
  color: rgb(57, 57, 57) !important;
}

.footercol p {
  font-weight: 400;
}

.moto {
  /* font-family: Gilroy-Light; */
  font-size: clamp(0.9rem, 4vw, 1.3rem) !important;
  /* color: rgb(57, 57, 57) !important; */
}

.title {
  /* font-family: Gilroy-ExtraBold; */
  font-size: clamp(1.5rem, 7vw, 2.5rem) !important;
  /* color: rgb(57, 57, 57) !important; */
}

.desc {
  /* font-family: Gilroy-Light; */
  font-size: clamp(0.9rem, 3vw, 1.2rem) !important;
  /* color: rgb(57, 57, 57) !important; */
}

.reg_div {
  /* min-height: 150px !important; */
  background-color: #f7f7f7 !important;
  margin-bottom: 50px !important;
  margin-top: 100px;
  max-height: fit-content !important;
}

.vertical-center {
  margin: 0;
  /* position: absolute; */
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.regtitle {
  font-family: Gilroy-ExtraBold;
  font-size: clamp(1.5rem, 6vw, 4rem) !important;
  opacity: 0.9;
  color: rgb(57, 57, 57) !important;
}

.noti-content {
  padding: 12px;
  border-radius: 8px !important;
  background-color: var(--white) !important;
  color: var(--dark);
}

.noti-content:focus {
  outline: none !important;
  border: 2px solid #2c71b6;
  /* box-shadow: 0 0 1px #2c71b6; */
}

.react-tel-input .form-control {
  z-index: 999 !important;
  /* min-width: 200px !important; */
  /* position: absolute !important; */
  display: block !important;
  /* max-width: 278px !important; */
  max-width: 100% !important;
  min-width: 100% !important;
}

.joincontainer {
  max-width: 1100px !important;
}

.country-list {
  z-index: 999 !important;
  width: 300px !important;
  /* position: absolute !important; */
  display: block !important;
  position: absolute !important;
  background-color: #fff !important;
}

.profilediv {
  margin-top: 200px !important;
  min-height: 300px !important;
  /* max-height: fit-content !important; */
  /* background-color: #f7f7f7 !important; */
}

.white {
  height: 100px !important;
}

.searchdiv {
  background-color: #fff !important;
  border-radius: 40px !important;
  border: rgb(57, 57, 57) solid 1px !important;

  display: flex;
  justify-content: space-between;
  padding: 0.6rem 0.5rem;
  font-size: clamp(0.4rem, 2vw, 1rem) !important;
  color: rgb(57, 57, 57) !important;
}

.borderlessinput {
  border: none !important;
  /* min-width: 300px; */
  margin-left: 10px;
  background-color: transparent !important;
}

.borderlessinput:focus {
  outline: none !important;
  border: 2px solid #2c71b6;
  /* box-shadow: 0 0 1px #2c71b6; */
}

.profilesearch {
  color: rgb(166, 174, 0) !important;
  font-weight: 800;
}

.icondiv {
  background-color: rgb(39, 39, 39) !important;
  border-radius: 50% !important;
  cursor: pointer;
}

.timer h1 {
  font-family: Gilroy-ExtraBold;
  font-size: clamp(1.5rem, 6vw, 4rem) !important;
  /* color: rgb(181, 175, 0) !important; */
  color: var(--yellow) !important;
  line-height: 0.6;
}

/* Join page  */

.classtitle {
  font-family: Gilroy-ExtraBold;
  font-size: clamp(1.5rem, 7vw, 3.5rem) !important;
  color: rgb(94, 94, 94) !important;
}

.classduration {
  font-weight: 700;
}

.hostdiv {
  position: absolute !important;
  bottom: 0 !important;
}

.joinclassdiv {
  width: 100% !important;
  border-radius: 30px !important;
  border: #000 solid 1px !important;
  min-height: 200px !important;
  max-height: fit-content !important;
}

.of_cover {
  object-fit: cover !important;
}

.classimage {
  width: 200px; /* width of container */
  height: 300px; /* height of container */
  object-fit: cover;
  /* border: 3px solid black; */
  border-radius: 20px;
  object-position: 20% 10%; /* try 20px 10px */
  /* -webkit-filter: grayscale(100%);  */
  /* filter: grayscale(100%);  */
}

.classimages {
  width: 100%;
  /* height: 400px;  */
  height: 100%;
  object-fit: cover;
  /* border: 3px solid black; */
  border-radius: 20px;
  object-position: 20% 10%; /* try 20px 10px */
}

.iconpic {
  width: 280px;
  object-fit: cover;
  /* border: 3px solid black; */
  /* border-radius: 20px; */
  /* object-position: 20% 10%; try 20px 10px */
  /* -webkit-filter: grayscale(100%);  */
  /* filter: grayscale(100%);  */
  margin-bottom: -180px !important;
}

@media (max-width: 768px) {
  .icon1 {
    display: block !important;
  }
  .icon2 {
    display: none !important;
  }
}

/* a{
  color: var(--dark) !important;
} */

@media (min-width: 768px) {
  .icon1 {
    display: none !important;
  }
  .icon2 {
    display: block !important;
  }
}

.MuiFormHelperText-root {
  /* font-size: clamp(0.4rem, 2vw, 1rem) !important; */
  color: rgb(57, 57, 57) !important;
}

.rmdp-input {
  height: 56px !important;
  width: 100% !important;
}

.timefield {
  border: #a1a1a1 solid 1px !important;
  height: 56px !important;
}

li {
  content: "";
}

.profilepic {
  /* Make background pulse so it looks kinda load-y */
  height: 120px !important;
  animation: skeleton-loader 0.8s infinite alternate;
}

.feeds {
  /* Make background pulse so it looks kinda load-y */
  height: 1500px !important;
  /* animation: skeleton-loader 0.8s infinite alternate; */
  /* overflow: hidden; */
  overflow-y: scroll !important;
}

.imgscroll::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.abc::-webkit-scrollbar {
  display: none; /* width of the entire scrollbar */
}

.imgscroll::-webkit-scrollbar-track {
  background: white; /* color of the tracking area */
}

.imgscroll::-webkit-scrollbar-thumb {
  background-color: var(--yellow); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid white; /* creates padding around scroll thumb */
}

.imgdlt {
  visibility: none !important;
}

.imghover:hover {
  transform: scale(1.1) !important;
}

.imghover:hover + .imgdlt {
  visibility: visible;
}


@keyframes skeleton-loader {
  0% {
    background-color: hsl(200, 20%, 75%);
  }
  50% {
    background-color: hsl(200, 20%, 85%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.skeleton{
  animation: skeleton-loader 1s linear infinite alternate;
}

.skeleton-text{
  width: 30%;
  height: .9rem;
  margin-bottom: .25rem;
  border-radius: .125rem;
}

.skeleton-smalltext{
  width: 100%;
  height: .5rem;
  margin-bottom: .25rem;
  border-radius: .125rem;
}

.skeleton-smalltext:last-child{
  margin-bottom: .25rem;
  width: 80%;
}

.skeleton-box{
  width: 100%;
  height: 2rem;
  margin-bottom: .25rem;
  border-radius: .125rem;
}

.skeleton-id{
  width: 60%;
  height: .5rem;
  font-size: clamp(0.9rem, 4vw, 1.2rem);

  margin-bottom: .25rem;
  border-radius: .125rem;
}
 
