PORT=3001

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://<user>:<password>@localhost:5432/<dbName>?schema=public"
SECRET_KEY_TOKEN =" "

TWILIO_SERVICE_ID= 
TWILIO_ACCOUTN_SID= 
TWILIO_AUTH_TOKEN= 

TWILIO_SERVICE_ID= "VA8e46e29703685d121fe81304d5a42303"
TWILIO_ACCOUTN_SID= "AC86637415e8f1a6d6831518c2520760b8"
TWILIO_AUTH_TOKEN= "a332c65c9985575ab24809b54d0d0f6f"

GOOGLE_CLIENT_ID = 
GOOGLE_CLIENT_SECRET =
GOOGLE_CALL_BACK_URL =  

FACEBOOK_CLIENT_ID = 
FACEBOOK_CLIENT_SECRET = 
FACEBOOK_CALL_BACK_URL = 