PORT=3001

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://bask:baskcode@localhost:5432/black_box?schema=public"
# DATABASE_URL = "postgresql://postgres:blackbox@blackbox2.ceg7qrvn2ido.us-east-1.rds:5432/BlackboxDatabase?schema=public"

SECRET_KEY_TOKEN = "MIICXQIBAAKBgQCX5S5zcp2NXHRKvRM28jR2R/MHjA6O6oMweIV5BIhM2Is+BocU
DMfsR2VI/bcA15GXCK4yau8h03Jq4jTVuHQrWom1+JzsxYjnYP9GCF+Clc9x9a6C
LRNsXGMqWZvELBQ2MNPYmRDhPmSgYg8tw4nvbcvq4OhVVd94PFPTLakArQIDAQAB
AoGAdKSbGi6/DGoeJ7KwibZPUTGJUJdeKqOuIM+8d6ViYdi8fOIYYu45rJlbD0U+
flgMRnZ1BuSVRF2S9L9HIYQnOF5U1uctVakAzK79pO/YLSM8E7WaPBEu0wxX7X59
lp152vCaLftmDRf+PlANqnU/biUb1F64GoKbDHgF2cP8kwECQQDgFK2laHQDTcpd
3LPYmAD4vqPahP8v6iFmvUAGwbrE+/eqNKnkaSbbDlq1N0n4uvFuWjvB+eAGGvwG
089pkJPtAkEArYgwHlJ0KJlcpfmWbS5CJj0MvuofW6h4WktYzN3jCH0/10v5zPwf
6KiW1mrT4aDSr8foJoYIE1L5cFtlelYHwQJBAIL5Uy3VScoMk/Yc5Dn7TsYVl+xH
xGibLv7AK0ZHwgUVSYOA2LSbCY0MbNRzBpeNnURlFXyhsuGesCTFdPw891kCQB06
xlglLVm1U2zFmLf1RcEpIV97EiMfQn57GI8RhO9mIX3DV2VWxo0q8JVXUy87JqHj
O1BZ3TxcCpYJXxN3MEECQQCA09/73wHXYGdT9tcCkQH/A0XgiI3ac2apmM72xyFa
28mQtsc/dCNunV6EblD12lGl8AxlcPuRIvqsmyaWY6cZ"

PUBLIC_KEY_TOKEN = "MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCX5S5zcp2NXHRKvRM28jR2R/MH
jA6O6oMweIV5BIhM2Is+BocUDMfsR2VI/bcA15GXCK4yau8h03Jq4jTVuHQrWom1
+JzsxYjnYP9GCF+Clc9x9a6CLRNsXGMqWZvELBQ2MNPYmRDhPmSgYg8tw4nvbcvq
4OhVVd94PFPTLakArQIDAQAB"

TWILIO_SERVICE_ID= "VA8e46e29703685d121fe81304d5a42303"
TWILIO_ACCOUTN_SID= "AC86637415e8f1a6d6831518c2520760b8"
TWILIO_AUTH_TOKEN= "8e15111c6cea82c4f1696a47e41ee502"

GOOGLE_CLIENT_ID = 371117433193-kbct878kcr8n3lepc1o3pmmpoh013maa.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET = 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
GOOGLE_CALL_BACK_URL = http://localhost:3001/api/google/callback

FACEBOOK_CLIENT_ID = 5422259311153424
FACEBOOK_CLIENT_SECRET = e027c3b61b30ec78016163569fe56fdc
FACEBOOK_CALL_BACK_URL = http://localhost:3001/api/facebook/callback

CLOUDINARY_CLOUD_NAME = black-box
CLOUDINARY_API_KEY = 565692395656588
CLOUDINARY_API_SECRETE = jshCbAnvdGR6FHIa035efSNYjjY


